#ignore idea files
.idea/
.vscode/

# ignore bin/
bin/

#ignore build res
burner/static/*.min.css

#ignore packr files
*-packr.go

#ignore binarys
burnerkiwi
burnerkiwi.test

#ignore sqlite dbs
*.db

dist/
