{{ define "modal" }}
<a class="background-blur" href="/"></a>
<div class="modal">
    <div class="modal-top-row">
        <h1 class="modal-heading">Edit</h1>
        <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z" fill="rgba(0,0,0,1)"/></svg>
        </a>
    </div>
    <div class="modal-content">
        {{ if .ModalData.Err }}
        <p><b class="address-builder-err">{{.ModalData.Err}}.</b></p>
        {{else}}
        <p>Create a custom email address.</p>
        {{end}}
        
        <form class="address-builder" action="/edit" method="POST" id="address-builder">
            <div class="address-builder-field">
                <div class="address-builder-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M4 22a8 8 0 1 1 16 0h-2a6 6 0 1 0-12 0H4zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4z"/></svg></div>
                <input type="text" placeholder="user" name="user">
            </div>
            <div class="address-builder-field">
                <div class="address-builder-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M20 12a8 8 0 1 0-3.562 6.657l1.11 1.664A9.953 9.953 0 0 1 12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10v1.5a3.5 3.5 0 0 1-6.396 1.966A5 5 0 1 1 15 8H17v5.5a1.5 1.5 0 0 0 3 0V12zm-8-3a3 3 0 1 0 0 6 3 3 0 0 0 0-6z"/></svg></div>
                <select class="address-builder-field-select" name="host">
                    {{ range $i, $host := .ModalData.Hosts }}
                        <option value="{{$host}}" {{if eq $i 0}} selected {{end}}>{{$host}}</option>
                    {{end}}
                </select>
            </div>
        </form>
    </div>
    <div class="modal-button-row">
        <a href="/"><button class="button skeleton" type="button">Cancel</button></a>
        <button class="button" type="submit" form="address-builder">Submit</button>
    </div>
</div>
{{end}}