/*by Hayden Woodhead*/

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
}

.heading {
    margin-top: 2%;
}

.footer {
    margin-bottom: 2%;
    text-align: center;
}

hr {
    margin: 2.0rem;
}

a {
    color: #e38b25;
}

.no-link-color {
    color: #606c76;
}

.logo {
    max-width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.float-right-large {
    float: right;
}

@media (max-width: 40.0rem) {
    h1 {
        font-size: 2.2em;
    }

    .float-right-large {
        float: left;
    }
}

.email {
    padding: 1%;
    background-color: #f4f5f6;
    border-radius: 5px;
    margin-bottom: 2%;
}

.email > .column > p {
    margin-bottom: 0;
}

.email > .column {
    margin-bottom: 1%;
}

.email:hover {
    background-color: #d1d1d1;
    color: black;
}

.button-red {
    border-color: #f5ab33;
    background-color: #f5ab33;
}

.button-red.button-outline {
    background-color: transparent;
    color: #f5ab33;
}

.button-red.button-outline:hover {
    color: white;
    outline-color: #f5ab33;
    border: #f5ab33;
    background-color: #f5ab33;
}

.button-heading {
    margin-bottom: 0;
    vertical-align: middle;
}

.center {
    text-align: center;
}

.no-format {
    background: white;
    border: none;
    padding-left: 2rem;
}

iframe {
    border: none;
    width: 100%;
    height: 50vh;
    margin-bottom: 3%;
}

.error {
    color: #f53333;
    padding: 1rem 2rem;
}