/*
CSS Reset
github.com/andy-piccalilli/modern-css-reset
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.45;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
Burner.kiwi styles
*/

:root {
  --background-color: black;
  --primary-text-color: white;
  --message-text-color: #1f2937;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 28px;
  --space-8: 32px;
  --space-9: 36px;
  --space-10: 40px;
  --space-11: 44px;
  --space-16: 64px;
  --space-24: 96px;

  --btn-background-color: #181819;
  --btn-icon-color: white;
  --message-container-border-color: transparent;
  --blue: #2563eb;
  --light-blue: #3b82f6;
  --red: #dc2626;
  --yellow: #D97706;
  --green: #059669;
  --indigo: #4F46E5;
  --purple: #7C3AED;
  --pink: #DB2777;
  --rather-light-grey: #6B7280;

  --scrollbar-color: dark;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #f3f4f6;
    --primary-text-color: #1f2937;
    --btn-background-color: #e5e7eb;
    --btn-icon-color: #1f2937;
    --message-container-border-color: #9ca3af;
    --scrollbar-color: light;
  }
}

.bg-red {
    background-color: var(--red);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-green {
    background-color: var(--green);
}

.bg-indigo {
    background-color: var(--indigo);
}

.bg-purple {
    background-color: var(--purple);
}

.bg-pink {
    background-color: var(--pink);
}

html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  height: 100%;
  background-color: var(--background-color);
}

body {
  height: 100%;
}

.content {
  height: 100%;
  color: var(--primary-text-color);
}

.sidebar.hide,
.email-display.hide {
  display: none;
}

.sidebar {
  padding: var(--space-3);
}

.roger {
  width: 250px;
}

.inbox-details {
  margin-top: var(--space-2);
}

.inbox-address {
  font-size: 2rem;
  font-weight: 500;
}

.action-buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: var(--space-2);
}

.action-btn {
  width: 32px;
  height: 32px;
  background-color: var(--btn-background-color);
  margin-right: var(--space-3);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-btn > svg {
  fill: var(--btn-icon-color);
}

.action-btn:hover,
.action-btn:focus {
  background-color: var(--blue);
}

.action-btn:hover > svg,
.action-btn:focus > svg {
  fill: white;
}

.no-emails {
  text-align: center;
  padding-top: var(--space-8);
}

.sidebar-emails {
  margin-top: var(--space-9);
  padding-bottom: var(--space-9);
}

.sidebar-email {
  border-radius: 8px;
  background-color: var(--btn-background-color);
  padding: var(--space-3);
  display: grid;
  grid-template-columns: 40px auto;
  text-decoration: none;
  color: inherit;
  margin-bottom: var(--space-3);
}

.sidebar-email.active {
  background-color: var(--blue);
  color: white;
}

.sidebar-email.active,
.sidebar-email:hover.active,
.sidebar-email:focus.active {
  background-color: var(--blue);
  color: white;
}

.sidebar-email:hover,
.sidebar-email:focus {
  background-color: var(--light-blue);
  color: white;
}

.email-avatar {
  margin-top: var(--space-1);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-avatar > p {
  color: white;
  font-weight: 900;
  font-size: 1.25rem;
}

.sidebar-email-details {
  padding-left: var(--space-1);
}

.sidebar-email-from {
  font-weight: 700;
}

.sidebar-email-time {
  font-size: 0.75rem;
  opacity: 60%;
}

.sidebar-email-subject,
.sidebar-email-from {
  overflow: hidden;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.email-display {
  height: 100%;
  overflow: hidden;
}

.message-container {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-top: 1px solid transparent;
  margin-top: var(--space-4);
  background-color: white;
  color: var(--message-text-color);
  min-height: 100%;
  padding: var(--space-4);

  display: flex;
  flex-direction: column;
}

.message-back {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text-color);
  margin-top: var(--space-3);
}

.message-back > svg {
  fill: var(--btn-icon-color);
}

.message-details {
  display: none;
}

.message-details-mobile {
  display: grid;
  grid-template-columns: 40px auto;
}

.message-subject {
  margin-bottom: var(--space-5);
  line-height: var(--space-8);
}

.message-time {
  font-weight: 200;
}

.message-content {
  flex: 1;
  width: 100%;
}

.message-content.html {
  padding-top: var(--space-6);
  padding-bottom: var(--space-10);
}

.message-content.plain {
  margin-top: var(--space-6);
  margin-bottom: var(--space-9);
  overflow: scroll;
}

.message-content iframe {
  border: none;
  height: 100%;
  width: 100%;
}

.message-content pre {
  font-family: inherit;
  height: 0px; /*TODO: why does this work?*/
  width: 100%;
  white-space: pre-wrap;
}

.background-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 85%;
  height: 300px;
  margin: auto;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.modal-top-row {
  display: flex;
  justify-content: space-between;
}

.modal-top-row a {
  margin-top: var(--space-2);
  margin-right: var(--space-2);
}

.modal-heading {
  margin-left: var(--space-4);
  margin-top: var(--space-4);
}

.modal-content {
  flex: 1;
  margin-top: var(--space-4);
  margin-left: var(--space-4);
  margin-right: var(--space-8);
}

.modal-button-row {
  display: flex;
  justify-content: flex-end;
  margin-top: sp;
  margin-bottom: var(--space-4);
  margin-right: var(--space-4);
  gap: var(--space-4);
}

.button {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  width: 80px;
  height: 50px;
  font-weight: 500;
}

.button.danger {
  background-color: white;
  color: var(--red);
  border-color: var(--red);
}

.button.danger:hover {
  background-color: var(--red);
  color: white;
}

.button.skeleton {
  background-color: transparent;
  text-decoration: underline;
}

.button.skeleton:hover {
  border-color: var(--rather-light-grey);
  text-decoration: none;
}


@media (min-width: 62rem) {
  .sidebar.hide,
  .email-display.hide {
    display: block;
  }

  .message-details-container-mobile,
  .message-details-mobile,
  .message-back {
    display: none;
  }

  .content {
    display: grid;
    grid-template-columns: minmax(450px, 30%) minmax(500px, 70%);
    overflow: hidden;
  }

  .roger {
    width: 300px;
  }

  .sidebar {
    overflow: auto;
    padding-top: var(--space-6);
    padding-left: var(--space-5);
    padding-right: var(--space-4);
    scrollbar-width: none;
    transform: translateY(0px);
    transition: transform 1s ease-in-out;
  }

  .sidebar-email:hover {
    box-shadow: 0 10px 24px hsla(0, 0%, 0%, 0.2);
    transform: translateY(-6px);
  }

  .action-buttons {
    justify-content: flex-end;
  }

  .action-btn {
    margin-right: 0;
    margin-left: var(--space-3);
  }

  .inbox-address {
    font-size: 2.5rem;
  }

  .email-display {
    padding: var(--space-5);
  }

  .message-container {
    height: 100%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin: 0;
  }

  .message-container-empty {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .message-container-empty svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    fill: var(--rather-light-grey);
  }

  .message-container-empty p {
    margin-top: var(--space-6);
    color: var(--rather-light-grey);
  }

  .message-details {
    display: grid;
    grid-template-columns: [avatar] 64px [subject] auto [etc] 45px;
    grid-template-rows: [headline] auto [details] auto;
    margin-left: var(--space-8);
    margin-top: var(--space-8);
  }

  .message-details .email-avatar {
    width: 40px;
    height: 40px;
    margin-top: 0;
    grid-row: headline;
    grid-column: avatar;
  }

  .message-details .email-avatar > p {
    font-size: 1.75rem;
    text-transform: uppercase;
  }

  .message-subject {
    font-size: 2rem;
    grid-row: headline;
    grid-column: subject;
    margin-bottom: var(--space-3);
  }

  .etc-dots {
    width: 32px;
    height: 32px;
    grid-row: headline;
    grid-column: etc;
  }

  .message-from-time-row {
    grid-row: details;
    grid-column: subject;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .message-from {
    margin-right: var(--space-3);
  }

  .message-content.plain {
    padding-left: var(--space-24);
  }

  .message-content pre {
    height: 100%;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
