/*
CSS Reset
github.com/andy-piccalilli/modern-css-reset
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.45;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* 
Burner.kiwi styles
*/

:root {
    --background-color: black;
    --primary-text-color: white;
    --message-text-color: #1F2937;
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 20px;
    --space-6: 24px;
    --space-7: 28px;
    --space-8: 32px;
    --space-9: 36px;
    --space-10: 40px;

    --btn-background-color: #181819;
    --btn-icon-color: white;
    --message-container-border-color: transparent;
    --blue: #2563EB;
    --red: #DC2626;

    --scrollbar-color: dark;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #F3F4F6;
        --primary-text-color: #1F2937;
        --btn-background-color: #E5E7EB;
        --btn-icon-color: #1F2937;
        --message-container-border-color: #9CA3AF;
        --scrollbar-color: light;
    }
}

html {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: var(--background-color);
}

body {
    height: 100%;
}

.content {
    height: 100%;
    color: var(--primary-text-color);
}

.sidebar.hide, .email-display.hide {
    display: none;
}

.sidebar {
    padding: var(--space-3);
}

.roger {
    width: 250px;
}

.inbox-details {
    margin-top: var(--space-2);
}

.inbox-address {
    font-size: 2rem;
    font-weight: 500;
}

.action-buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: var(--space-2);
}

.action-btn {
    width: 32px;
    height: 32px;
    background-color: var(--btn-background-color);
    margin-right: var(--space-3);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btn > svg {
    fill: var(--btn-icon-color);
}

.action-btn:hover, .action-btn:focus {
    background-color: var(--blue);
}

.action-btn:hover > svg, .action-btn:focus > svg {
    fill: white;
}


.sidebar-emails {
    margin-top: var(--space-9);
    padding-bottom: var(--space-9);
}

.sidebar-email {
    border-radius: 8px;
    background-color: var(--btn-background-color);
    padding: var(--space-3);
    display: grid;
    grid-template-columns: 40px auto;
    text-decoration: none;
    color: inherit;
    margin-bottom: var(--space-3);
}

.sidebar-email:hover, .sidebar-email:focus, .sidebar-email.active {
    background-color: var(--blue);
    color: white;
}

.email-avatar {
    margin-top: var(--space-1);
    border-radius: 50%;
    background-color: var(--red);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-avatar > p {
    color: white;
    font-weight: 900;
    font-size: 1.25rem;
}

.sidebar-email-details {
    padding-left: var(--space-1);
}

.sidebar-email-from {
    font-weight: 700;
}

.sidebar-email-time {
    font-size: 0.75rem;
    opacity: 60%; 
}

.sidebar-email-subject, .sidebar-email-from {
    overflow: hidden;
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.email-display {
    height: 100%;
}

.message-container {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-top: 1px solid transparent;
    margin-top: var(--space-4);
    background-color: white;
    color: var(--message-text-color);
    min-height: 100%;
    padding: var(--space-4);
}

.message-back {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-text-color);
    margin-top: var(--space-3);
}

.message-back > svg {
    fill: var(--btn-icon-color);
}

.message-details-mobile {
    display: grid;
    grid-template-columns: 40px auto;
}

.message-subject {
    margin-bottom: var(--space-5);
    line-height: var(--space-8);
}

.message-time {
    font-weight: 200;
}

@media(min-width: 62rem) {
    .sidebar.hide, .email-display.hide {
        display: block;
    }

    .message-details-container-mobile, .message-details-mobile, .message-back {
        display: none;
    }

    .content {
        display: grid;
        grid-template-columns: minmax(450px,30%) minmax(500px,70%);
        overflow: hidden;
    }

    .roger {
        width: 300px;
    }

    .sidebar {
        overflow: auto;
        padding-top: var(--space-6);
        padding-left: var(--space-5);
        padding-right: var(--space-4);
        scrollbar-width: none;
    } 

    .action-buttons {
        justify-content: flex-end;
    }

    .action-btn {
        margin-right: 0;
        margin-left: var(--space-3);
    }

    .inbox-address {
        font-size: 2.5rem;
    }

    .message-container {
        min-height: calc(100% - var(--space-4)*2);
        overflow: auto;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        margin-right: var(--space-4);
        margin-bottom: var(--space-4);
    }
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }