{{define "content"}}
<section class="container heading">

    <a href="/"><--- Return to inbox</a>
    <hr>

</section>


<section class="container">

    <div class="row">
        <div class="column">
            <h3>{{.Message.Subject}}</h3>
            <h4>{{.Message.From}}</h4>
            <p>Received {{.ReceivedTimeDiff}} at {{.ReceivedAt}} UTC</p>
        </div>
    </div>

    <h4>Message: </h4>

    <div class="row">
        <iframe sandbox="allow-forms allow-popups allow-same-origin allow-scripts" srcdoc="{{.Message.BodyHTML}}">
        </iframe>
    </div>

</section>

<section class="container footer">
    <hr>

    <p><i>Note: if this message links to a page containing javascript you may need to copy and paste the link in a new tab in order for the linked site to work properly.</i></p>
    <p><i>Message not displaying correctly (or at all)? Let me know <a href="https://github.com/haydenwoodhead/burner.kiwi/issues">here</a>.</i></p>
</section>

{{end}}